@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-font-1;
    font-family: Inter, sans-serif;
  }

  body {
    @apply bg-back-1;
  }

  a {
    &:focus {
      outline: none;
    }
  }

  input:focus {
    outline: none;
  }

  textarea:focus {
    outline: none;
  }

  h1 {
    @apply text-2xl font-semibold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg;
  }

  h5 {
    @apply font-semibold text-sm;
  }

  svg {
    display: inline;
  }

  button {
    @apply px-2 py-1 rounded-lg;
  }

  .word-wrap-normal {
    word-wrap: normal;
  }

  .search-select {
    .search-select__control {
      @apply bg-back-1 border-transparent shadow-none #{!important};
    }

    .search-select__control--is-focused {
      @apply border-primary-500 shadow-2xl #{!important};
    }

    .search-select__value-container,  .search-select__indicator {
      @apply bg-back-1;
    }

    .search-select__placeholder {
      @apply text-font-2;
    }

    .search-select__single-value, .search-select__value-container {
      @apply text-font-2;
    }

    .search-select__input-container {
      @apply text-font-1;
    }

    .search-select__menu {
      @apply bg-back-2 border-2 border-back-3;
    }

    .search-select__option {
      @apply bg-back-2;
    }
  }
}

@layer components {
  .header-link {
    @apply text-font-2;
    cursor: pointer;

    &:hover, &.selected {
      @apply text-font-1;
    }
  }

  .simple-link {
    cursor: pointer;
    @apply text-primary-200;
    &:hover {
      @apply text-primary-400;
    }
  }

  .img-round-border {
    @apply border-2 rounded-full border-primary-200  #{!important};
  }

  .monospace {
    font-family: custom-mono, monospace;
  }

  .code {
    font-family: custom-mono, monospace;
    font-size: 13px;
  }

  .code-height {
    height: 23px !important;
  }
}

@layer utilities {
  .floating-label-input {
    input {
      &:focus ~ label {
        @apply text-primary-200;
      }

      &:focus ~ label, &:not(:placeholder-shown) ~ label {
        @apply text-xs;
        transform: translate(0, -1.3rem);
      }
    }
  }

  .floating-label-textarea {
    textarea {
      &:focus ~ label {
        @apply text-primary-200;
      }

      &:focus ~ label, &:not(:placeholder-shown) ~ label {
        @apply text-xs;
        transform: translate(0, -0.65rem);
      }
    }
  }
}